{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Мои списки</h1>
    {% for i in wishlist %}
        <div class="row border-bottom mb-3">
            <div class="col-1 fs-1" style="color:#535353;">{{ forloop.counter }}</div>
            <div class="col fs-3">
                <a class="text-decoration-none" style="color:#535353;" href="{% url 'wish_list_page' i.pk %}">{{ i.title }}</a>
            </div>
        </div>

    {% endfor %}
{% endblock %}
