{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Хочу это:</h1>
    {% if is_owner_list %}
        <div class="row mb-5">
            <!-- Кнопка-триггер модального окна -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    style="width: 250px;">
                Добавить желание
            </button>

            <!-- Модальное окно -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавить желание</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                        </div>
                        <form action="{% url 'wish_list_page' wishlist.pk %}" class="mx-3" method="post">
                            {% csrf_token %}
                            <div class="modal-body">

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Название</span>
                                    {{ form.title }}
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">URL</span>
                                    {{ form.link }}
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Цена</span>
                                    {{ form.price }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% for product in wishlist.products.all %}
                <div class="row mb-3">
            <div class="col-1 fs-1" style="color:#535353;">{{ forloop.counter }}</div>
            <div class="col">
                <div class="row fs-3 mb-2">{{ product.title }}</div>
                <div class="row border-bottom">
                    <p><a target="_blank" href="{{ product.link }}">{{ product.link }}</a></p>
                    <p>{{ product.price|intcomma }} руб.</p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}